.section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 500px;
    margin-top: 100px;
    justify-content: space-between;
    border-bottom: ridge 4px orange;
    padding-bottom: 30px;
    font-family: 'Hind', sans-serif;
}

.column-1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    max-width: 570px;
    padding-left: 100px;

}

.heading-1 {
    margin-bottom: 70px;


}

#intro {
    font-weight: 500;
    font-family: 'Hind', sans-serif;
}

#order-button {
    background-color: rgba(255, 166, 0, 0);
    color: orange;
    padding: 15px;
    border-radius: 50px;
    border: solid 1px orange;
    margin-top: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 5px orange;
    transition: background-color 0.3s, color 0.3s;
}

#order-button:hover {
    background-color: #ffa500;
    color: white;
    padding: 17px;
    margin-top: 46px;
}

.column-2 {
    display: flex;
    flex: 1;
    justify-content: end;
    min-width: 0;
    padding-right: 10px;

}

.home-img {
    width: 100%;
    padding-right: 40px;

}

.section-end {
    display: flex;
    justify-content: center;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    margin-top: 70px;
}


.section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
    margin-top: 48px;
    margin-bottom: 30px;
    padding: 30px;
    border: solid 60px orange;
    border-top: none;

}

.order-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 100px;
    box-shadow: 0px 0px 10px rgb(119, 118, 118);
    font-family: 'Hind', sans-serif;
    color: gray;
    line-height: 22px;

}

.icons {
    width: 150px;
    height: 150px;
    margin-bottom: 25px;
}

.food-title {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 25px;
}

.description {
    width: 350px;
    font-weight: 600;
    margin-bottom: 30px;

}

.browse-button {
    position: absolute;
    bottom: 40px;
    background-color: rgba(255, 166, 0, 0);
    color: orange;
    padding: 15px;
    border-radius: 50px;
    border: solid 1px orange;
    cursor: pointer;
}

.browse-button:hover {
    background-color: #ffa500;
    color: white;
    padding: 17px;
    transition: color 0.4s, background-color 0.4s;
}

.section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    padding: 30px;
    padding-bottom: 120px;
    border: solid 60px orange;
    border-bottom: none;
    margin-top: 30px;
}


.order-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 30px;
    box-shadow: 0px 0px 10px rgb(119, 118, 118);

}

.popular-dishes {
    width: 100%;
}

.section-4 {
    background-color: white;
    position: absolute;
    right: 0px;
    left: 0px;
}

.order-button {
    position: absolute;
    bottom: -80px;
    background-color: orange;
    color: white;
    padding: 15px;
    border-radius: 50px;
    border: solid 1px orange;
    cursor: pointer;
}

.order-button:hover {
    background-color: white;
    color: orange;
    padding: 17px;
    transition: color 0.4s, background-color 0.4s;
}

.section-4 {
    display: grid;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: url("../image-assets/background1.jpg");

    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 100px;
    padding-top: 100px;

}

.review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e971;
    box-shadow: 0px 0px 5px orange;
    font-family: 'Hind', sans-serif;
    color: gray;
    line-height: 22px;
    padding: 60px;
    padding-bottom: 60px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 90px;
    border: solid 2px orange;
    margin-bottom: 30px;
}

.rating {
    width: 170px;
    height: 30px;
    margin-bottom: 30px;
}