.section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 500px;
    margin-top: 100px;
    justify-content: space-between;
    border-bottom: ridge 4px orange;
    padding-bottom: 15px;
    font-family: 'Hind', sans-serif;
}

.column-1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    max-width: 570px;
    padding-left: 100px;

}

.heading-1 {
    margin-bottom: 70px;


}

#intro {
    font-weight: 500;
    font-family: 'Hind', sans-serif;
}

#order-button {
    background-color: rgba(255, 166, 0, 0);
    color: orange;
    padding: 15px;
    border-radius: 50px;
    border: solid 1px orange;
    margin-top: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 5px orange;
    transition: background-color 0.3s, color 0.3s;
}

#order-button:hover {
    background-color: #ffa500;
    color: white;
    padding: 17px;
    margin-top: 46px;
}

.column-2 {
    display: flex;
    flex: 1;
    justify-content: end;
    min-width: 0;

}

.home-img {
    width: 100%;

}

#section-1-end {
    display: flex;
    justify-content: center;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    margin-top: 70px;
}


.section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;

}

.order-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 100px;
    box-shadow: 0px 0px 10px rgb(119, 118, 118);
    font-family: 'Hind', sans-serif;
    color: gray;
    line-height: 22px;

}

.icons {
    width: 150px;
    margin-bottom: 20px;
}

.food-title {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 20px;
}

.description {
    width: 350px;
    font-weight: 600;
    margin-bottom: 30px;

}

.browse-button {
    position: absolute;
    bottom: 40px;
    background-color: rgba(255, 166, 0, 0);
    color: orange;
    padding: 15px;
    border-radius: 50px;
    border: solid 1px orange;
    cursor: pointer;
}

.browse-button:hover {
    background-color: #ffa500;
    color: white;
    padding: 17px;
    margin-top: 46px;
}