* {
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    background-image: url("/Restaurant-menu/image-assets/background1.jpg");
    background-repeat: no-repeat;
    background-color: #e9e9e9;
    background-size: 100%;
    padding-bottom: 800px;
    margin: 0px;


}